
/*
==============================
RIGHT TO LEFT - RTL
==============================
*/
body{
font-family: 'Amiri', serif !important;
}
header a{
    font-family: 'Amiri', serif !important;
    font-size: 14px;
}
h2,
h3,
h1,
h4,
h5,
h6,
related-title,
texttitle-home-3,
p
{
   font-family: 'Amiri', serif !important;
}

.uk-navbar-nav a{
 font-family: 'Amiri', serif !important;
}
.uk-button{
  font-family: 'Amiri', serif !important;
}

.sidebar .nav-item .nav-link{
	font-family: 'Amiri', serif !important;
}
.social{
	float: left;
}
.video-title a{
	font-family: 'Amiri', serif !important;
}
.channels-title a{
	font-family: 'Amiri', serif !important;
}
.box{
	text-align: right;

}
.single-video-author img{
	float: right;
	margin: 0 0px 1px 10px;
}
.video-card-body{
	text-align: right;
}
.main-title{
	text-align: right;
}
.float-right {
    float: left !important;
}
.btn-dow {
    float: left;
    position: relative;
    bottom: 55px;
}